* {
  list-style: none;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'header header header'
    'top-articles top-articles top-articles'
    'latest-news latest-news latest-news'
    'latest-funding latest-funding latest-funding'
    'hard-fork apps gear'
    'tech creative podium'
    'insights launch distract'
    'latest-deals latest-deals latest-deals'
    'footer footer footer';
}

header {
  grid-area: header;
}

.global-nav {
  height: 32px;
  width: 100wv;
  background-color: aquamarine;
  display: grid;
  grid-auto-flow: column;
}

.topic-nav {
  height: 48px;
  width: 100wv;
  background-color: red;
}

ul {
  display: grid;
  grid-auto-flow: column;
  margin: 0;
}

.top-articles {
  grid-area: top-articles;
  height: 544px;
  width: 100wv;
  background-color: rgb(85, 255, 51);
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
}

.top-articles div {
  display: grid;
}

.latest-news {
  grid-area: latest-news;
  height: 590px;
  width: 100wv;
  background-color: orange;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.eight-articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

.latest-funding {
  grid-area: latest-funding;
  height: 337px;
  width: 100wv;
  background-color: green;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.latest-funding section {
  display: grid;
  grid-auto-flow: column;
}

.hard-fork {
  grid-area: hard-fork;
  height: 654px;
  width: 33wv;
  background-color: rgb(183, 183, 252);
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.min-articles {
  display: grid;
}

.apps {
  grid-area: apps;
  height: 654px;
  width: 33wv;
  background-color: hotpink;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.gear {
  grid-area: gear;
  height: 654px;
  width: 33wv;
  background-color: darkturquoise;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.tech {
  grid-area: tech;
  height: 654px;
  width: 33wv;
  background-color: forestgreen;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.creative {
  grid-area: creative;
  height: 654px;
  width: 33wv;
  background-color: coral;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.podium {
  grid-area: podium;
  height: 654px;
  width: 33wv;
  background-color: sienna;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.insights {
  grid-area: insights;
  height: 654px;
  width: 33wv;
  background-color: khaki;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.launch {
  grid-area: launch;
  height: 654px;
  width: 33wv;
  background-color: ivory;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.distract {
  grid-area: distract;
  height: 654px;
  width: 33wv;
  background-color: azure;
  display: grid;
  grid-template-rows: 2fr 1fr 2fr;
}

.latest-deals {
  grid-area: latest-deals;
  height: 611px;
  width: 33wv;
  background-color: thistle;
  display: grid;
  grid-template-rows: 50px 1fr;
}

footer {
  grid-area: footer;
  height: 192px;
  width: 33wv;
  background-color: wheat;
}

footer nav {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
}

@media screen and (max-device-width: 1023px) {
  body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'header header'
      'top-articles top-articles'
      'latest-news latest-news'
      'latest-funding latest-funding'
      'hard-fork apps'
      'gear tech'
      'creative podium'
      'insights launch'
      'distract .'
      'latest-deals latest-deals'
      'footer footer';
  }

  .top-articles {
    height: 489px;
  }

  .latest-news {
    height: 829px;
  }

  .eight-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .latest-funding {
    height: 360px;
  }

  .latest-funding section article:last-child {
    display: none;
  }

  .hard-fork {
    height: 691px;
  }

  .max-article {
    grid-template-rows: 3fr 1fr 2fr;
  }

  .apps {
    height: 691px;
  }

  .gear {
    height: 691px;
  }

  .tech {
    height: 691px;
  }

  .creative {
    height: 691px;
  }

  .podium {
    height: 691px;
  }

  .insights {
    height: 691px;
  }

  .launch {
    height: 691px;
  }

  .distract {
    height: 691px;
  }

  .latest-deals {
    height: 990px;
  }

  footer {
    height: 191px;
  }
}

@media screen and (max-device-width: 767px) {
  body {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-auto-flow: column; */
    grid-template-areas:
      'header'
      'top-articles'
      'latest-news'
      'latest-funding'
      'hard-fork'
      'apps'
      'gear'
      'tech'
      'creative'
      'podium'
      'insights'
      'launch'
      'distract'
      'latest-deals'
      'footer';
  }

  .global-nav {
    display: none;
  }

  .topic-nav {
    height: 48px;
  }

  .top-articles {
    height: 746px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  .latest-news {
    height: 802px;
  }

  .eight-articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }

  .latest-funding {
    height: 360px;
  }

  .latest-funding section {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(3, 1fr);
  }

  .max-article {
    grid-template-rows: 6fr 1fr 2fr;
  }

  .hard-fork {
    height: 838px;
  }

  .apps {
    height: 838px;
  }

  .gear {
    height: 838px;
  }

  .tech {
    height: 838px;
  }

  .creative {
    height: 838px;
  }

  .podium {
    height: 838px;
  }

  .insights {
    height: 838px;
  }

  .launch {
    height: 838px;
  }

  .distract {
    height: 838px;
  }

  .latest-deals {
    height: 752px;
  }

  footer {
    height: 191px;
  }
}
