* {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas:
    'header header header'
    'top-articles top-articles top-articles'
    'latest-news latest-news latest-news'
    'latest-funding latest-funding latest-funding'
    'hard-fork apps gear'
    'tech creative podium'
    'insights launch distract'
    'latest-deals latest-deals latest-deals'
    'footer footer footer';
  padding: 0 12.5px;
}

body > section {
  padding-bottom: 20px;
}

header {
  grid-area: header;
}

.global-nav {
  color: rgb(152, 152, 152);

  height: 32px;
  width: 100wv;
  display: grid;
  background-color: black;
  grid-auto-flow: column;
}

.topic-nav {
  height: 48px;
  width: 100wv;
}

ul {
  display: grid;
  grid-auto-flow: column;
  margin: 0;
  grid-auto-columns: minmax(min-content, max-content);
  gap: 5px;
}

.nav-ul {
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;
  margin: 0;
  gap: 0px;
}

.order-article-information {
  grid-area: article-information;
}

.top-articles {
  grid-area: top-articles;
  height: 544px;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 2fr 1fr;
  gap: 15px;
}

.top-articles article {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:
    '.'
    '.'
    '.'
    'article-information';
  background-image: url('images/kitten-1031261_1920.jpg');
  background-size: cover;
}

.top-articles > div {
  display: grid;
  gap: 15px;
}

.latest-news {
  grid-area: latest-news;
  height: 590px;
  width: 100wv;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.latest-news article {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    'cover-photo'
    'article-information';
}

.latest-news article div {
  background-image: url('images/cat-5496162_1920.jpg');
  background-size: cover;
}

.latest-news article section {
  grid-area: article-information;
}

.eight-articles {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 25px;
}

.latest-funding {
  grid-area: latest-funding;
  height: 337px;
  width: 100wv;
  display: grid;
  grid-template-rows: 50px 1fr;
}

.small-latest {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 3fr 1fr;
}

.small-latest div {
  background-image: url('images/kitty-2948404_1920.jpg');
  background-size: cover;
}

.latest-funding > section {
  display: grid;
  grid-auto-flow: column;
  gap: 25px;
}

.top-older-article {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-areas:
    '.'
    'article-information';
  background-image: url('images/cat-1064078_1920.jpg');
  background-size: cover;
}

.latest-funding section article {
  display: grid;
  grid-template-rows: repeat(3, 1fr);
  background-color: rgba(255, 68, 34, 0.03);
}

.latest-funding section article section {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    'image company'
    'image number ';
}

.latest-funding section article div {
  grid-area: image;
  background-image: url('images/cat-3535399_1920.jpg');
  background-size: cover;
}

.latest-funding section article h5 {
  background-color: #f42;
  grid-area: company;
}

.latest-funding section article section p {
  background-color: rgba(244, 80, 51, 0.541);
  grid-area: number;
}

.border-seperation {
  background-color: rgba(255, 67, 34, 0.029);
  border-bottom: 1px solid rgba(244, 80, 51, 0.541);
}

.latest-funding section article p {
  background-color: rgba(255, 67, 34, 0.029);
}

.hard-fork {
  grid-area: hard-fork;
  height: 654px;
  width: 33wv;
  display: grid;
  grid-template-rows: 50px 2fr 1fr 2fr;
  padding-right: 12.5px;
}

.min-articles {
  display: grid;
}

.list-bottom {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas: '.' '.' '.' 'article-information';
}

.apps {
  grid-area: apps;
  height: 654px;
  width: 33wv;
  display: grid;
  grid-template-rows: 50px 2fr 1fr 2fr;
  padding: 0 12.5px;
}

.gear {
  grid-area: gear;
  height: 654px;
  width: 33wv;
  display: grid;
  grid-template-rows: 50px 2fr 1fr 2fr;
  padding-left: 12.5px;
}

.tech {
  grid-area: tech;
  height: 654px;
  width: 33wv;
  display: grid;
  grid-template-rows: 50px 2fr 1fr 2fr;
  padding-right: 12.5px;
}

.creative {
  grid-area: creative;
  height: 654px;
  width: 33wv;
  display: grid;
  grid-template-rows: 50px 2fr 1fr 2fr;
  padding: 0 12.5px;
}

.podium {
  grid-area: podium;
  height: 654px;
  width: 33wv;
  display: grid;
  grid-template-rows: 50px 2fr 1fr 2fr;
  padding-left: 12.5px;
}

.insights {
  grid-area: insights;
  height: 654px;
  width: 33wv;
  display: grid;
  grid-template-rows: 50px 2fr 1fr 2fr;
  padding-right: 12.5px;
}

.launch {
  grid-area: launch;
  height: 654px;
  width: 33wv;
  display: grid;
  grid-template-rows: 50px 2fr 1fr 2fr;
  padding: 0 12.5px;
}

.distract {
  grid-area: distract;
  height: 654px;
  width: 33wv;
  display: grid;
  grid-template-rows: 50px 2fr 1fr 2fr;
  padding-left: 12.5px;
}

.latest-deals {
  grid-area: latest-deals;
  height: 611px;
  width: 33wv;
  display: grid;
  grid-template-rows: 50px 1fr;
}

footer {
  grid-area: footer;
  height: 192px;
  width: 33wv;
  color: rgb(152, 152, 152);
}

footer nav {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr 1fr;
  place-items: center;
  background-color: black;
}

@media screen and (max-device-width: 1023px) {
  body {
    grid-template-columns: repeat(2, 1fr);
    grid-template-areas:
      'header header'
      'top-articles top-articles'
      'latest-news latest-news'
      'latest-funding latest-funding'
      'hard-fork apps'
      'gear tech'
      'creative podium'
      'insights launch'
      'distract .'
      'latest-deals latest-deals'
      'footer footer';
  }

  .top-articles {
    height: 489px;
  }

  .latest-news {
    height: 829px;
  }

  .eight-articles {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
  }

  .latest-funding {
    height: 360px;
  }

  .latest-funding section article:last-child {
    display: none;
  }

  .hard-fork {
    height: 691px;
  }

  .max-article {
    grid-template-rows: 50px 2fr 1fr 2fr;
  }

  .hard-fork {
    padding: 0 12.5px 0 0;
  }

  .apps {
    padding: 0 0 0 12.5px;
    height: 691px;
  }

  .gear {
    padding: 0 12.5px 0 0;
    height: 691px;
  }

  .tech {
    padding: 0 0 0 12.5px;
    height: 691px;
  }

  .creative {
    padding: 0 12.5px 0 0;
    height: 691px;
  }

  .podium {
    padding: 0 0 0 12.5px;
    height: 691px;
  }

  .insights {
    padding: 0 12.5px 0 0;
    height: 691px;
  }

  .launch {
    padding: 0 0 0 12.5px;
    height: 691px;
  }

  .distract {
    padding: 0 12.5px 0 0;
    height: 691px;
  }

  .latest-deals {
    height: 990px;
  }

  footer {
    height: 191px;
  }
}

@media screen and (max-device-width: 767px) {
  body {
    /* padding: 0; */
    margin: 0;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* grid-auto-flow: column; */
    grid-template-areas:
      'header'
      'top-articles'
      'latest-news'
      'latest-funding'
      'hard-fork'
      'apps'
      'gear'
      'tech'
      'creative'
      'podium'
      'insights'
      'launch'
      'distract'
      'latest-deals'
      'footer';
  }

  .global-nav {
    display: none;
  }

  .topic-nav {
    height: 48px;
  }

  .top-articles {
    height: 776px !important;
    grid-template-columns: 1fr;
    grid-auto-flow: row;
    grid-template-rows: repeat(3, 1fr);
  }

  .latest-news {
    height: 802px;
  }

  .eight-articles {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(8, 1fr);
  }

  .eight-articles article {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr 8fr;
    grid-template-rows: 1fr;
    grid-template-areas: 'cover-photo article-information';
  }

  .latest-funding {
    height: 872px;
  }

  .latest-funding section article {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: 2fr 1fr 1fr;
  }

  .latest-funding section {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: repeat(3, 1fr);
  }

  .max-article {
    grid-template-rows: 50px 6fr 1fr 2fr;
  }

  .hard-fork {
    height: 838px;
    padding: 0;
  }

  .list-bottom {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: '.' '.' '.' 'article-information';
  }

  .apps {
    height: 838px;
    padding: 0;
  }

  .gear {
    height: 838px;
    padding: 0;
  }

  .tech {
    height: 838px;
    padding: 0;
  }

  .creative {
    height: 838px;
    padding: 0;
  }

  .podium {
    height: 838px;
    padding: 0;
  }

  .insights {
    height: 838px;
    padding: 0;
  }

  .launch {
    height: 838px;
    padding: 0;
  }

  .distract {
    height: 838px;
    padding: 0;
  }

  .latest-deals {
    height: 752px;
  }

  footer {
    height: 191px;
  }
}
